.today{
    color:#666;
    background-color: #47a3da;
}
.closeX{
        background-color:#000;
        border:2px solid #fff;
        z-index:3000;
        position:relative;
        opacity:1;
        top:-15px;
        left:135px;
        border-radius:10px;
        height:30px;
        width:30px;
        line-height:28px;
        text-align:center;
        font-size:32px;
        color:#fff;
        cursor:pointer;
}
.conta{
        background-color:#fff;
        border:0px solid #000;
        z-index:3000;
        position:relative;
        opacity:1;
        top:-5px;
        left:25px;
        border-radius:0px;
        height:100px;
        width:100px;
        cursor:pointer;
}