<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/logo.jpg">
    <title>BugLocator</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/jquery.selectlist.css">

    <link href="/assets/css/adminia.css" rel="stylesheet"/>
    <link href="/assets/css/adminia-responsive.css" rel="stylesheet"/>
    <!--标签云的link-->
    {#    <link rel="stylesheet" type="text/css" href="/assets/css/zzsc-demo.css">#}


    <link href="/assets/css/plans.css" rel="stylesheet"/>

    <!--代码高亮的link-->
    <link rel="stylesheet" href="/assets/css/styles_code/atom-one-dark.css">
    <script src="/assets/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/assets/js/prefixfree.min.js"></script>
    <script src="/assets/js/index.js"></script>
    <!-- 鼠标经过效果-->
    <script>document.documentElement.className="js";var supportsCssVars=function(){var e,t=document.createElement("style");return t.innerHTML="root: { --tmp-var: bold; }",document.head.appendChild(t),e=!!(window.CSS&&window.CSS.supports&&window.CSS.supports("font-weight","var(--tmp-var)")),t.parentNode.removeChild(t),e};supportsCssVars()||alert("Please view this demo in a modern browser that supports CSS Variables.");</script>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Nunito:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/demo.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/style-adsila.css" />
    <!-- /鼠标经过效果-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        div.search span,
        div.search input[name="keyword"] {
            display: block;
        }

        div.search input[name="keyword"] {
            margin-top: 4px;
        }

        div.panel {
            padding: 1em 12em;
            margin-bottom: 15px;
        }

        div.panel-body p {
            text-indent: 2em;
        }

        span.test1 {
            background: red;
            color: black;
        }

        span.test2 {
            background: yellow;
            color: black;
        }
    </style>
    <style>
        canvas {
            background: #111;
            border: 1px solid #171717;
            display: block;
            left: 50%;
            margin: -51px 0 0 -201px;
            position: absolute;
            top: 50%;
        }
    </style>


</head>

<body>
<div style="text-align:center;clear:both">
    <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
    <script src="/follow.js" type="text/javascript"></script>
</div>
<section id="container">
    <!-- **********************************************************************************************************************************************************
    TOP BAR CONTENT & NOTIFICATIONS
    *********************************************************************************************************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="{% url 'locator:main' %}" class="logo"><b>BUG LOCATOR</b></a>
        <!--logo end-->
        <div class="top-menu">
            <ul class="nav pull-right top-menu">
                <li><a class="logout" href="{% url 'locator:logout' %}">Logout</a></li>
            </ul>
        </div>
    </header>
    <!--header end-->

    <!-- **********************************************************************************************************************************************************
    MAIN SIDEBAR MENU
    *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">

                <p class="centered"><a href="{% url 'locator:profile' %}"><img src="{{ request.session.avatarloc }}"
                                                                               class="img-circle" width="60"></a></p>
                <h5 class="centered">{{ request.session.username }}</h5>

                <li class="mt">
                    <a class="active" href="{% url 'locator:resultpage' %}">
                        <i class="fa fa-file-text"></i>
                        <span>Result</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="{% url 'locator:back' %}">
                        <i class="fa fa-level-up"></i>
                        <span>Back</span>
                    </a>

                </li>
                <li class="sub-menu">
                    <a href="{% url 'locator:lock' %}">
                        <i class="fa fa-lock"></i>
                        <span>Lock</span>
                    </a>

                </li>

            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->

    <!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper site-min-height" style="padding-left:0;padding-bottom:0px">
            <div class="row mt" style="margin-top:10px">
             <!--   <div class="col-lg-12" style="padding-right:10px">-->

                    <div class="span9" style="width: 100%;padding-left: 20px">

                        <div style="background: #ffffff; padding:10px;box-shadow: 0px 3px 2px #aab2bd;">
                            <h3 style="background:#ff865c; padding: 16px;margin-top:0;margin-bottom:20px;height: 60px">
                                <font color="#fff" size="5">Detatil Result</font>
                            </h3>

                            <!--<div class="widget" style="margin-top: 10px; border-bottom: solid;">

                            </div> /widget -->

                            <div class="widget" style="background: #ffffff; height: 850px;">
                                 <div class="col-lg-5" style="overflow: auto;padding-left:0">
                                 <div class="tab-content" style="border: 1px solid #ccc;">
                                    <div class="tab-pane active " id="file1-pills">
                                        <h4 style="margin:0;padding: 10px;background: #f5f5f5;padding-bottom:40px;">
                                            <font color="black">Bug Report--Description：&nbsp;Bug {{ bugid }}</font>
                                            &nbsp;</h4>
                                        <div style="height: 750px;overflow: auto;padding:10px;background: #f5f5f5;">
                                            <div id="content" style="width: 100%;font-size:1.2em;
                                                 padding-top:15px;padding-left:10px;background: #282c34;color: #abb2bf;"
                                                 ;>
                                                <!-- 关键词高亮插件-->
                                                <div class="col-xs-6">
                                                    <input type="checkbox" name="opt[]" value="separateWordSearch" checked style="display: none">
                                                    <input type="checkbox" name="opt[]" value="diacritics" checked style="display: none">
                                                    <input type="checkbox" name="opt[]" value="debug" style="display: none">
                                                </div>

                                                <div class="panel-body context">

                                                    <p>java 8{{ report }}</p>
                                                </div>
                                                <!-- /关键词高亮插件-->
                                            </div><!--/content-->
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- /col-lg-5 -->
                                 <div class="col-lg-7" style="padding-left:0;">
                                    <div class="col-lg-2" style="width: 28.6%;">
                                        <ul style="border-bottom:none;">
                                            <nav class="menu menu--adsila">
                                                <a href="#whole" data-toggle="tab" class="">
                                                    <li class="active"
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Whole Result</span>
                                                    </li>
                                                </a>

                                                <a href="#file0" data-toggle="tab" class="menu__item" onmouseover="javascript:change();">
                                                    <li class=""
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-0</span>
                                                    </li>
                                                </a>

                                                <a href="#file1" data-toggle="tab" class="menu__item">
                                                    <li class="file1"
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-1</span>
                                                    </li>
                                                </a>

                                                <a href="#file2" data-toggle="tab" class="menu__item">
                                                    <li class=""
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-2</span>
                                                    </li>
                                                </a>


                                                <a href="#file3" data-toggle="tab" class="menu__item">
                                                    <li class=""
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-3</span>
                                                    </li>
                                                </a>


                                                <a href="#file4" data-toggle="tab" class="menu__item">
                                                    <li class=""
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-4</span>
                                                    </li>
                                                </a>


                                                <a href="#file5" data-toggle="tab" class="menu__item">
                                                    <li class=""
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-5</span>
                                                    </li>
                                                </a>

                                                <a href="#file6" data-toggle="tab" class="menu__item">
                                                    <li class=""
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-6</span>
                                                    </li>
                                                </a>
                                                <a href="#file7" data-toggle="tab" class="menu__item">
                                                    <li class=""
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-7</span>
                                                    </li>
                                                </a>
                                                <a href="#file8" data-toggle="tab" class="menu__item">
                                                    <li class=""
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-8</span>
                                                    </li>
                                                </a>
                                                <a href="#file9" data-toggle="tab" class="menu__item">
                                                    <li class=""
                                                        style="float:none;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <span class="menu__item-name">&nbsp;&nbsp;Source File-9</span>
                                                    </li>
                                                </a>
                                            </nav>
                                        </ul>

                                        <form action="{% url 'locator:to_fix' %}" method="post">
                                    <ul class="nav nav-pills" style="align-self: center;margin-top:50px;">
                                        <li class="" style="padding-left:40px;">
                                            <input type="hidden" value="{{ bugid }}" name="bugid"/>
                                            <a class="nav-bar" href="javascript:;" style="background: #ff865c;
                                             color: #ffffff;padding:18px 15px;font-size:1.5em"
                                               onclick="JavaScript:save();">Tag as Fixed</a>
                                        </li>
                                    </ul>
                                </form>
                                    </div>
                                    <div class="col-lg-5" style="width: 71.4%; border: 1px solid #ccc;">
                                        <div class="tab-content">
                                            <div class="tab-pane fade active in" id="whole">
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >keyword11</td>
                                                        <td >keyword2</td>
                                                    </tr>
                                                    <tr>
                                                        <td >keyword1</td>
                                                        <td >keyword2</td>
                                                    </tr>
                                                    <tr>
                                                        <td >keyword1</td>
                                                        <td >keyword2</td>
                                                    </tr>
                                                    <tr>
                                                        <td >keyword1</td>
                                                        <td >keyword2</td>
                                                    </tr>
                                                    <tr>
                                                        <td >keyword1</td>
                                                        <td >keyword2</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file0">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.0.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.0}}</td>
                                                        <td >{{ sel_arr.1}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.2}}</td>
                                                        <td >{{ sel_arr.3}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.4}}</td>
                                                        <td >{{ sel_arr.5}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.6}}</td>
                                                        <td >{{ sel_arr.7}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.8}}</td>
                                                        <td >{{ sel_arr.9}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file1">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.1.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.10}}</td>
                                                        <td >{{ sel_arr.11}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.12}}</td>
                                                        <td >{{ sel_arr.13}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.14}}</td>
                                                        <td >{{ sel_arr.15}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.16}}</td>
                                                        <td >{{ sel_arr.17}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.18}}</td>
                                                        <td >{{ sel_arr.19}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file2">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.2.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.20}}</td>
                                                        <td >{{ sel_arr.21}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.22}}</td>
                                                        <td >{{ sel_arr.23}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.24}}</td>
                                                        <td >{{ sel_arr.25}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.26}}</td>
                                                        <td >{{ sel_arr.27}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.28}}</td>
                                                        <td >{{ sel_arr.29}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file3">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.3.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.30}}</td>
                                                        <td >{{ sel_arr.31}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.32}}</td>
                                                        <td >{{ sel_arr.33}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.34}}</td>
                                                        <td >{{ sel_arr.35}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.36}}</td>
                                                        <td >{{ sel_arr.37}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.38}}</td>
                                                        <td >{{ sel_arr.39}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file4">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.4.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.40}}</td>
                                                        <td >{{ sel_arr.41}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.42}}</td>
                                                        <td >{{ sel_arr.43}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.44}}</td>
                                                        <td >{{ sel_arr.45}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.46}}</td>
                                                        <td >{{ sel_arr.47}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.48}}</td>
                                                        <td >{{ sel_arr.49}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file5">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.5.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.50}}</td>
                                                        <td >{{ sel_arr.51}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.52}}</td>
                                                        <td >{{ sel_arr.53}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.54}}</td>
                                                        <td >{{ sel_arr.55}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.56}}</td>
                                                        <td >{{ sel_arr.57}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.58}}</td>
                                                        <td >{{ sel_arr.59}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file6">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.6.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.60}}</td>
                                                        <td >{{ sel_arr.61}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.62}}</td>
                                                        <td >{{ sel_arr.63}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.64}}</td>
                                                        <td >{{ sel_arr.65}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.66}}</td>
                                                        <td >{{ sel_arr.67}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.68}}</td>
                                                        <td >{{ sel_arr.69}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file7">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.7.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.70}}</td>
                                                        <td >{{ sel_arr.71}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.72}}</td>
                                                        <td >{{ sel_arr.73}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.74}}</td>
                                                        <td >{{ sel_arr.75}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.76}}</td>
                                                        <td >{{ sel_arr.77}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.78}}</td>
                                                        <td >{{ sel_arr.79}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file8">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.8.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.80}}</td>
                                                        <td >{{ sel_arr.81}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.82}}</td>
                                                        <td >{{ sel_arr.83}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.84}}</td>
                                                        <td >{{ sel_arr.85}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.86}}</td>
                                                        <td >{{ sel_arr.87}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.88}}</td>
                                                        <td >{{ sel_arr.89}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                            <div class="tab-pane fade" id="file9">
                                                <h4 style="word-wrap:break-word ">File path: {{ filelist.9.path }}</h4>
                                                <div class="plan-features">
                                                    <table class="table table-striped table-advance table-hover" style="table-layout: fixed; margin-bottom: 0;">
                                                        <h4 style="padding: 10px; margin: 0px">Keywords</h4>
                                                        <tbody>
                                                    <tr>
                                                        <td >{{ sel_arr.90}}</td>
                                                        <td >{{ sel_arr.91}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.92}}</td>
                                                        <td >{{ sel_arr.93}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.94}}</td>
                                                        <td >{{ sel_arr.95}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.96}}</td>
                                                        <td >{{ sel_arr.97}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td >{{ sel_arr.98}}</td>
                                                        <td >{{ sel_arr.99}}</td>
                                                    </tr>

                                                </tbody>
                                                    </table>
                                                </div> <!-- /plan-features -->
                                            </div>
                                        </div>
                                        <iframe src="{% url 'locator:cloud' %}" frameborder="0" scrolling="no"
                                                    style="width: 100%;height: 400px;text-align: center;margin: 0 auto; border:none;"></iframe>
                                    </div>
                                </div>
                        </div>

                        </div>
                    </div>
                </div> <!-- /span9 -->
                <!--    </div> <!--/col-lg-12-->
            </div><!--/row mt-->
        </section>
        <! --/wrapper -->
    </section><!-- /MAIN CONTENT -->

    <!--main content end-->

</section>
<!--标签云的script-->


<!-- js placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>
<script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>
<script src="/assets/js/jquery-1.9.1.min.js"></script>
<script src="/assets/js/jquery.selectlist.js"></script>
<script src="/assets/js/table-sort.js"></script>
<script src="/assets/js/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="/assets/js/jquery.svg3dtagcloud.min.js"></script>
<script src="/assets/js/jquery.min.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script src="/assets/js/jquery-1.11.0.min.js"><\/script>')</script>
<script type="text/javascript" src="/assets/js/jquery.mark.min.js"></script>
<!--鼠标经过效果 -->
<script src="/assets/js/demo.js"></script>
<!--/鼠标经过效果 -->
<script type="text/javascript">
    $(function() {

		  var mark = function(keywords, classname) {

		    // Read the keyword
{#		    var keyword = $("input[name='keyword']").val();#}
              var keyword = keywords;

		    // Determine selected options
		    var options = {
		      "className": classname
		    };
		    $("input[name='opt[]']").each(function() {
		      options[$(this).val()] = $(this).is(":checked");
		    });

		    // Mark the keyword inside the context
{#		    $(".context").removeMark();#}
		    $(".context").mark(keyword, options);
		  };

{#		  $("input[name='keyword']").on("keyup", mark);#}
{#		  $("input[type='checkbox']").on("change", mark);#}
        mark('{{ sel_arr.3 }}', 'test1');

		});
</script>
<script type="text/javascript">
    $(function () {
        $('select').selectlist({
            zIndex: 10,
            height: 34
        });
    })
</script>


<!--common script for all pages-->
<script src="/assets/js/common-scripts.js"></script>
<script>
    function change(){
        alert('change');
    }
</script>
<!--script for this page-->

<script>
    //custom select box

    $(function () {
        $('select.styled').customSelect();
    });

</script>
<!-- 分段渲染文本的JS函数 -->
<!--
<script type="text/javascript">
    window.onload = addElementDiv
    function judge(value, arr) {
        var i = arr.length;
        while (i--) {
            if (arr[i] === value) {
                return true;
            }
        }
        return false;
    }

    function addElementDiv() {
        var parent = document.getElementById("content");
        var tmp1 = JSON.parse({{ fileArr|safe }});
        var tmp2 = JSON.parse({{ sel_arr.0|safe }});
        var index;

        for (var i = 0; i < tmp1.length; i++) {
            if (judge(tmp1[i], tmp2)) {
                parent.innerHTML = parent.innerHTML + "<span class='type1' style='color: #c678dd'>" + tmp1[i] + "</span>";
            }
            else {
                parent.innerHTML = parent.innerHTML + "<span>" + tmp1[i] + "</span>";
            }
            index = i;
        }
    }
</script>
-->
<script>
    function save() {
        alert('Fixed!');
        window.location.href = '{% url 'locator:to_fix' %}';
    }
</script>

</body>
</html>
