<!DOCTYPE html>
<html>

<head>
<title>jQuery热门城市文字标签云代码 - 站长素材</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/assets/css/jqcloud.css" />
<script src="/assets/js/jquery-2.1.0.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/assets/js/jqcloud-1.0.4.js" type="text/javascript" charset="utf-8"></script>

<style>
.append_div {
	background: black;color:#FFFFFF; opacity:0.5; text-align: center; position: absolute; height: 100px; width: 80px; 
}
</style>

<script type="text/javascript">
    var tmp = {{ keywords|safe }};
    var data;
    if (tmp.length ===0)
    {
        data = [
		['广州', 27, 100],
		['浙江', 20, 123],
		['江苏', 19, 222],
		['北京', 8, 111],
		['上海', 7, 111],
		['河南', 6, 111],
		['河北', 5, 111],
		['四川', 5, 111],
		['安徽', 5, 111],
		['湖北', 5, 111],
		['福建', 4, 111],
		['辽宁', 4, 111],
		['湖南', 3, 111],
		['陕西', 3, 111],
		['广西', 3, 111],
		['江西', 3, 111],
		['重庆', 3, 111],
		['天津', 3, 111],
		['云南', 2, 111],
		['山西', 2, 111]
	];
    }
    else
    {
        data = [
            [tmp[0], 27, 100],
            [tmp[1], 20, 123],
            [tmp[2], 19, 222],
            [tmp[3], 15, 111],
            [tmp[4], 13, 111],
            [tmp[5], 10, 111],
            [tmp[6], 8, 111],
            [tmp[7], 8, 111],
            [tmp[8], 8, 111],
            [tmp[9], 8, 111],
            [tmp[10], 5, 111],
            [tmp[11], 5, 111],
            [tmp[12], 5, 111],
            [tmp[13], 6, 111],
            [tmp[14], 3, 111],
            [tmp[15], 3, 111],
            [tmp[16], 3, 111],
            [tmp[17], 3, 111],
            [tmp[18], 2, 111],
            [tmp[19], 2, 111]
        ];

    }

	
	var string_ = "";
	for (var i = 0; i < data.length; i++) {
		var string_f = data[i][0];
		var string_n = data[i][1];
		string_ += "{text: '" + string_f + "', weight: '" + string_n + "',html: {'class': 'span_list',onmouseover:'on_mouseover(this,event)',onmouseout:'on_mouseout()'}},";
	}

	function on_mouseover(e, ev) {
		var txt = $(e).html();
		ev = ev || event;
		$.each(data, function(i, item) {
			if(txt == item[0]){
				var html = item[0]/*+"<br />"+item[1]+"<br />"+item[2]*/;
				$("#my_favorite_latin_words").after("<div class='append_div' style='left:" + ev.clientX + "px; top:" + ev.clientY + "px; '>" + html + "</div>");
				return;
			}
			
		});
	}
	$(function() {
		$("#my_favorite_latin_words").jQCloud(word_list);
	});
	var string_list = string_;
	var word_list = eval("[" + string_list + "]");

	function on_mouseout() {
		$(".append_div").remove();
	}
</script>
</head>

<body style="margin:10px 0px 0px 0px;">
<div class="" style="width: 100%;">
	<div id="my_favorite_latin_words" style="width: 635px; margin: 0px ; height: 400px; "></div>
</div>

</body>
</html>